# Do not track these folders
__pycache__
venv
data
CB_IOS_APP
*.egg-info
build
dist
backups
lib
Bug Reports
.vscode/
# Do not track these files
app_data.csv
expenseDB.json
*.db
.DS_STORE
.venv/
junit/
htmlcov/
coverage.xml
